@font-face {
    font-family: OpenSansRegular;
    src: url(../fonts/OpenSans-Regular.ttf); 
}

@font-face {
    font-family: OpenSansLight;
    src: url(../fonts/OpenSans-Light.ttf); 
}

@font-face {
    font-family: OpenSansBold;
    src: url(../fonts/OpenSans-Bold.ttf); 
}

@font-face {
    font-family: OpenSansSemiBold;
    src: url(../fonts/OpenSans-Semibold.ttf); 
}

@font-face {
    font-family: Cabin-Regular;
    src: url(../fonts/cabin/Cabin-Regular.otf); 
}

.open-sans-light {
    font-family: OpenSansLight;
}


.open-sans-bold {
    font-family: OpenSansSemiBold;
}

.nowrap {
    white-space: nowrap;
}

.fs-xs {
    font-size: .6rem;
}
.fs-sm {
    font-size: .8rem;
}
.fs-md {
    font-size: .8rem;
}
.fs-lg {
    font-size: 1rem;
}
.fs-xl {
    font-size: 1rem;
}
.fs-xxl {
    font-size: 1.6rem;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
 
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .fs-xs {
        font-size: .6rem;
    }
    .fs-sm {
        font-size: .8rem;
    }
    .fs-md {
        font-size: 1rem;
    }
    .fs-lg {
        font-size: 1.4rem;
    }
    .fs-xl {
        font-size: 2rem;
    }  
    .fs-xxl {
        font-size: 2rem;
    }    
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    
}

