@font-face {
    font-family: OpenSansRegular;
    src: url(../fonts/OpenSans-Regular.ttf); 
}

@font-face {
    font-family: OpenSansLight;
    src: url(../fonts/OpenSans-Light.ttf); 
}

@font-face {
    font-family: OpenSansBold;
    src: url(../fonts/OpenSans-Bold.ttf); 
}

@font-face {
    font-family: OpenSansSemiBold;
    src: url(../fonts/OpenSans-Semibold.ttf); 
}

@font-face {
    font-family: Cabin-Regular;
    src: url(../fonts/cabin/Cabin-Regular.otf); 
}

.openSansFont {
    font-family: OpenSansSemiBold;
}


.openSansFont h1 {
        font-family: OpenSansLight;
    }
.nav-container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 75%;
}
.navbar-brand {
    font-family: Cabin-Regular;
}

@media(max-width: 650px) {
    .main-content h1 {
        font-size: 3em !important;
    }

    form {
        margin-top: none !important;
    }

     .email-form input {
        margin-top: none;
    }

    .email-form button {
        width: 100%;
    }
}

@media(max-width: 350px) {
    .main-content h1 {
        font-size: 2em !important;
    }

    .main-content footer p {
        font-size: 1em !important;
    }
}


@media(max-width: 1500px) {
    form {
        margin-top: 2em !important;
    }
}

form {
    margin-top: 4em;
}

.main-content h1, .main-content footer p{
    transition: all 1s;
}
.logo {
    max-height: 40px;
}
