@font-face {
    font-family: OpenSansRegular;
    src: url(../fonts/OpenSans-Regular.ttf); 
}

@font-face {
    font-family: OpenSansLight;
    src: url(../fonts/OpenSans-Light.ttf); 
}

@font-face {
    font-family: OpenSansBold;
    src: url(../fonts/OpenSans-Bold.ttf); 
}

@font-face {
    font-family: OpenSansSemiBold;
    src: url(../fonts/OpenSans-Semibold.ttf); 
}

@font-face {
    font-family: Cabin-Regular;
    src: url(../fonts/cabin/Cabin-Regular.otf); 
}

.open-sans-light {
    font-family: OpenSansLight;
}


.open-sans-bold {
        font-family: OpenSansSemiBold;
    }
.nav-container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 75%;
}
.navbar-brand {
    font-family: Cabin-Regular;
}

@media(max-width: 650px) {
    .main-content h1 {
        font-size: 3em !important;
    }

    form {
        margin-top: none !important;
    }

     .email-form input {
        margin-top: none;
    }

    .email-form button {
        width: 100%;
    }
}

@media(max-width: 350px) {
    .main-content h1 {
        font-size: 2em !important;
    }

    .main-content footer p {
        font-size: 1em !important;
    }
}


@media(max-width: 1500px) {
    form {
        margin-top: 2em !important;
    }
}

form {
    margin-top: 4em;
}

.main-content h1, .main-content footer p{
    transition: all 1s;
}
.logo {
    max-height: 40px;
}
@media (max-width: 1200px) {
    .update-button {
        padding: 1em 1.5em !important;
    }
}
@media (max-width: 1100px) {
    .update-button {
        padding: 1em 1em !important;
    }
}
@media (max-width: 1000px) {
    .update-button {
        padding: 1em 1em !important;
    }
}
@media (max-width: 900px) {
    .input-block, .button-block {
        width: 100% !important;
    }
    .button-block button { 
        width: 100% !important;
        margin-top: 1em;
    }
}
@media(max-width: 760px) {
    .main-image {
        background-image: url("../images/main-mobile.png") !important;
        background-position: bottom !important;
        background-size: cover !important;
    }
}
.input-block {
    width: 60%;
    transition: all 0.7s;
}
.button-block {
    width: 20%;
    transition: all 0.7s;
}
.email-form {
    align-content: space-between;
}


.btn-light {
    border: solid 1px rgba(128, 128, 128, 0.377);
}

.card {
    height: 60px;
    width: 60px;
    background-color: gray;
}

.h-15 {
    height: 20% !important;
}

.w-33 {
    width: 33%;
}
.font-size-14 {
    font-size: 20px;
}

.main-image {
    background-image: url("../images/main.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.7s;
}

.btn-light:hover, .btn-primary {
    background-color: #ff9c00;
    border-color: #ff9c00;
}
.btn-primary:hover {
    background-color: #ffd000;
    border-color: #ffd000;
}
.area {
    width: 100px;
    height: 100px;
    margin: 0.5em;
}
.area .value {
    font-size: 20px;
}
.stat-block .value {
    font-size: 3em;
    color: #83b797;
}
.stat-block .year {
    font-size: 15px;
    color: #546e7a;
}
.chart-area {
    height: 300px;
    width: 200%;
    background-color: gray;
}