
body {
    margin: 3rem 2rem;
    background-color: #fff;
}

.block {
    margin-top: 1rem;
    background-color: #eee;
}

.params-map {
    background-color: #ddd;
}

.trend-item-value {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: .4rem solid #ccc; 
    
    height: 4rem;
    width: 4rem;
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .trend-item-value {
        border: .7rem solid #ccc; 
        
        height: 8rem;
        width: 8rem;
    }    
}