.fs-xs {
    font-size: .6rem;
}
.fs-sm {
    font-size: .8rem;
}
h4,.h4,.fs-md {
    font-size: .8rem;
}
h3,.h3,.fs-lg {
    font-size: 1rem;
}
h2,.h2,.fs-xl {
    font-size: 1.4rem;
}
h1,.h1,.fs-xxl {
    font-size: 1.6rem;
}
h1,h2,.h1,.h2,.fs-xxl,.fs-xl {
    font-family: OpenSansLight;
    /*font-weight: bold;*/
}
h3,h4,.h3,.h4,.fs-lg {
    /*font-family: OpenSansSemiBold;*/
    font-family: OpenSansLight;
    /*font-weight: bold;*/
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
 
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .fs-xs {
        font-size: .6rem;
    }
    .fs-sm {
        font-size: .8rem;
    }
    h4,.h4,.fs-md {
        font-size: 1rem;
    }
    h3,.h3,.fs-lg {
        font-size: 1.4rem;
    }
    h2,.h2,.fs-xl {
        font-size: 1.8rem;
    }
    h1,.h1,.fs-xxl {
        font-size: 2rem;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    
}

body {
    margin-top: 4rem;
    background-color: #fff;
    color: #546e7a;
}

.accent-color-1 {
    color: #ff9c00;
}
.accent-color-2 {
    color: #ff9c00
}
.background-contrast-color {
    color: #546e7a;
}
.text-color {
    color: #546e7a;
}
.secondary-text-color {
    color: #b7b7b7;
}
.accent-text-color-1 {
    color: #83b797;
}
.accent-text-color-2 {
    color: #a2ccb2;
}

.top {
    border-bottom: thin solid #b7b7b7;
    padding-bottom: 1rem;
}

.confidence-good {
    color: #83b797;
}
.confidence-average {
    color: #ff9c00;
}
.confidence-poor {
    color: inherit;
}
.trend-up {
    color: #83b797;
}
.trend-down {
    color: #ff9c00;
}

.block {
    margin-top: 1rem;
    background-color: #f8f6f4;
    padding: 1rem 2rem 2rem;
}

.market-facts {
    margin-left: 0;
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .market-facts {
        border-left: .5rem solid #fff;
        /*margin-left: .5rem;*/
    }
}

.table {
    font-family: OpenSansSemiBold !important;
    border: none !important;
}

.table th {
    color: #83b797 !important;
    border-top: none;
}

.fixed-table-container {
    border: none !important;
}

.fixed-table-body {
     height: auto !important; 
}

.params-map {
    background-color: #ddd;
}


.form-control {
    border: none;
    border-radius: 0px;
    border-bottom: 1px grey solid;
}

.form-control:disabled, .form-control[readonly] {
    background-color: transparent !important;
    text-align: center;
    border: none;
    font-weight: 600;
    opacity: 1;
}

.form-control:hover {
    border-bottom: 1px orange solid;
}

span.twitter-typeahead .tt-input {
    float: none;
    color: #546d7a;
}

span.twitter-typeahead .tt-menu, span.twitter-typeahead .tt-dropdown-menu {
    font-size: 14px;
    position: absolute;
    z-index: 1000;
    top: 100%;
    right: 0;
    left: 0;
    display: none;
    float: left;
    max-height: 200px;
    margin: 0;
    padding: 5px 0;
    list-style: none;
    text-align: left;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    background-clip: padding-box;
    overflow-y: auto
}

span.twitter-typeahead .tt-suggestion {
    font-weight: normal;
    line-height: 1.42857143;
    display: block;
    clear: both;
    padding: 3px 20px;
    white-space: nowrap;
    color: #546d7a;
}

span.twitter-typeahead .tt-suggestion_header {
    margin: 0;
    padding: 3px 20px
}

span.twitter-typeahead .tt-suggestion.tt-cursor, span.twitter-typeahead .tt-suggestion:hover, span.twitter-typeahead .tt-suggestion:focus {
    text-decoration: none;
    color: #ffffff;
    outline: 0;
    background-color: #337ab7
}

span.twitter-typeahead {
    width: 100%
}

.input-group span.twitter-typeahead {
    display: block !important
}


/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .trend-item-value {
        border: .7rem solid #ccc;
        line-height: 6.5rem;
        height: 8rem;
        width: 8rem;
    }
}

.form-group label {
    color: #83b798;
    font-weight: 800;
}

.more_rooms {
    margin-left: 15px;
    padding: 0;
    text-align: right;
    width: 40px;"
}

.pound:before {
    content: '\00a3';
}

.sqf:after {
    content: "sqf";
}

.psf:after {
    content: "PSF";
}

.info-block {
    border-top: 1px lightgrey solid;
    padding: 20px;
}

.align-center {
    margin: auto;
    justify-content: center;
}

.row label {
    color: #546d7a;
    font-weight: lighter;
    margin-bottom: 0;
}

.block-center {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
}