.pb-5 {
  padding-bottom: 5rem !important;
}
.pt-5 {
  padding-top: 5rem !important;
}
.pb-8 {
  padding-bottom: 8rem !important;
}
.pt-8 {
  padding-top: 8rem !important;
}
.pt-6 {
  padding-top: 6rem !important;
}
.pb-6 {
  padding-bottom: 6rem !important;
}


.m-0 {
  margin: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mr-0 {
  margin-left: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-0 {
  margin-right: 0 !important;
}

.mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1 {
  margin-top: 0.25rem !important;
}

.mr-1 {
  margin-left: 0.25rem !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1 {
  margin-right: 0.25rem !important;
}

.mx-1 {
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
}

.my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mr-2 {
  margin-left: 0.5rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2 {
  margin-right: 0.5rem !important;
}

.mx-2 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mr-3 {
  margin-left: 1rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.ml-3 {
  margin-right: 1rem !important;
}

.mx-3 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.m-4 {
  margin: 1.8rem !important;
}

.mt-4 {
  margin-top: 1.8rem !important;
}

.mr-4 {
  margin-left: 1.8rem !important;
}

.mb-4 {
  margin-bottom: 1.8rem !important;
}

.ml-4 {
  margin-right: 1.8rem !important;
}

.mx-4 {
  margin-right: 1.8rem !important;
  margin-left: 1.8rem !important;
}

.my-4 {
  margin-top: 1.8rem !important;
  margin-bottom: 1.8rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mr-5 {
  margin-left: 3rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.ml-5 {
  margin-right: 3rem !important;
}

.mx-5 {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}

.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.m-6 {
  margin: 4rem !important;
}

.mt-6 {
  margin-top: 4rem !important;
}

.mr-6 {
  margin-left: 4rem !important;
}

.mb-6 {
  margin-bottom: 4rem !important;
}

.ml-6 {
  margin-right: 4rem !important;
}

.mx-6 {
  margin-right: 4rem !important;
  margin-left: 4rem !important;
}

.my-6 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.m-7 {
  margin: 5rem !important;
}

.mt-7 {
  margin-top: 5rem !important;
}

.mr-7 {
  margin-left: 5rem !important;
}

.mb-7 {
  margin-bottom: 5rem !important;
}

.ml-7 {
  margin-right: 5rem !important;
}

.mx-7 {
  margin-right: 5rem !important;
  margin-left: 5rem !important;
}

.my-7 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.m-8 {
  margin: 7.5rem !important;
}

.mt-8 {
  margin-top: 7.5rem !important;
}

.mr-8 {
  margin-left: 7.5rem !important;
}

.mb-8 {
  margin-bottom: 7.5rem !important;
}

.ml-8 {
  margin-right: 7.5rem !important;
}

.mx-8 {
  margin-right: 7.5rem !important;
  margin-left: 7.5rem !important;
}

.my-8 {
  margin-top: 7.5rem !important;
  margin-bottom: 7.5rem !important;
}

.m-9 {
  margin: 10rem !important;
}

.mt-9 {
  margin-top: 10rem !important;
}

.mr-9 {
  margin-left: 10rem !important;
}

.mb-9 {
  margin-bottom: 10rem !important;
}

.ml-9 {
  margin-right: 10rem !important;
}

.mx-9 {
  margin-right: 10rem !important;
  margin-left: 10rem !important;
}

.my-9 {
  margin-top: 10rem !important;
  margin-bottom: 10rem !important;
}

.m-10 {
  margin: 12.5rem !important;
}

.mt-10 {
  margin-top: 12.5rem !important;
}

.mr-10 {
  margin-left: 12.5rem !important;
}

.mb-10 {
  margin-bottom: 12.5rem !important;
}

.ml-10 {
  margin-right: 12.5rem !important;
}

.mx-10 {
  margin-right: 12.5rem !important;
  margin-left: 12.5rem !important;
}

.my-10 {
  margin-top: 12.5rem !important;
  margin-bottom: 12.5rem !important;
}

.m-11 {
  margin: 15rem !important;
}

.mt-11 {
  margin-top: 15rem !important;
}

.mr-11 {
  margin-left: 15rem !important;
}

.mb-11 {
  margin-bottom: 15rem !important;
}

.ml-11 {
  margin-right: 15rem !important;
}

.mx-11 {
  margin-right: 15rem !important;
  margin-left: 15rem !important;
}

.my-11 {
  margin-top: 15rem !important;
  margin-bottom: 15rem !important;
}
@media (max-width: 35.99em) {
  .m-xs-0 {
    margin: 0 !important;
  }
  .mt-xs-0 {
    margin-top: 0 !important;
  }
  .mr-xs-0 {
    margin-left: 0 !important;
  }
  .mb-xs-0 {
    margin-bottom: 0 !important;
  }
  .ml-xs-0 {
    margin-right: 0 !important;
  }
  .mx-xs-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .my-xs-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .m-xs-1 {
    margin: 0.25rem !important;
  }
  .mt-xs-1 {
    margin-top: 0.25rem !important;
  }
  .mr-xs-1 {
    margin-left: 0.25rem !important;
  }
  .mb-xs-1 {
    margin-bottom: 0.25rem !important;
  }
  .ml-xs-1 {
    margin-right: 0.25rem !important;
  }
  .mx-xs-1 {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
  }
  .my-xs-1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
  }
  .m-xs-2 {
    margin: 0.5rem !important;
  }
  .mt-xs-2 {
    margin-top: 0.5rem !important;
  }
  .mr-xs-2 {
    margin-left: 0.5rem !important;
  }
  .mb-xs-2 {
    margin-bottom: 0.5rem !important;
  }
  .ml-xs-2 {
    margin-right: 0.5rem !important;
  }
  .mx-xs-2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
  }
  .my-xs-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }
  .m-xs-3 {
    margin: 1rem !important;
  }
  .mt-xs-3 {
    margin-top: 1rem !important;
  }
  .mr-xs-3 {
    margin-left: 1rem !important;
  }
  .mb-xs-3 {
    margin-bottom: 1rem !important;
  }
  .ml-xs-3 {
    margin-right: 1rem !important;
  }
  .mx-xs-3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
  }
  .my-xs-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
  .m-xs-4 {
    margin: 1.8rem !important;
  }
  .mt-xs-4 {
    margin-top: 1.8rem !important;
  }
  .mr-xs-4 {
    margin-left: 1.8rem !important;
  }
  .mb-xs-4 {
    margin-bottom: 1.8rem !important;
  }
  .ml-xs-4 {
    margin-right: 1.8rem !important;
  }
  .mx-xs-4 {
    margin-right: 1.8rem !important;
    margin-left: 1.8rem !important;
  }
  .my-xs-4 {
    margin-top: 1.8rem !important;
    margin-bottom: 1.8rem !important;
  }
  .m-xs-5 {
    margin: 3rem !important;
  }
  .mt-xs-5 {
    margin-top: 3rem !important;
  }
  .mr-xs-5 {
    margin-left: 3rem !important;
  }
  .mb-xs-5 {
    margin-bottom: 3rem !important;
  }
  .ml-xs-5 {
    margin-right: 3rem !important;
  }
  .mx-xs-5 {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
  }
  .my-xs-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }
  .m-xs-6 {
    margin: 4rem !important;
  }
  .mt-xs-6 {
    margin-top: 4rem !important;
  }
  .mr-xs-6 {
    margin-left: 4rem !important;
  }
  .mb-xs-6 {
    margin-bottom: 4rem !important;
  }
  .ml-xs-6 {
    margin-right: 4rem !important;
  }
  .mx-xs-6 {
    margin-right: 4rem !important;
    margin-left: 4rem !important;
  }
  .my-xs-6 {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
  }
  .m-xs-7 {
    margin: 5rem !important;
  }
  .mt-xs-7 {
    margin-top: 5rem !important;
  }
  .mr-xs-7 {
    margin-left: 5rem !important;
  }
  .mb-xs-7 {
    margin-bottom: 5rem !important;
  }
  .ml-xs-7 {
    margin-right: 5rem !important;
  }
  .mx-xs-7 {
    margin-right: 5rem !important;
    margin-left: 5rem !important;
  }
  .my-xs-7 {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
  }
  .m-xs-8 {
    margin: 7.5rem !important;
  }
  .mt-xs-8 {
    margin-top: 7.5rem !important;
  }
  .mr-xs-8 {
    margin-left: 7.5rem !important;
  }
  .mb-xs-8 {
    margin-bottom: 7.5rem !important;
  }
  .ml-xs-8 {
    margin-right: 7.5rem !important;
  }
  .mx-xs-8 {
    margin-right: 7.5rem !important;
    margin-left: 7.5rem !important;
  }
  .my-xs-8 {
    margin-top: 7.5rem !important;
    margin-bottom: 7.5rem !important;
  }
  .m-xs-9 {
    margin: 10rem !important;
  }
  .mt-xs-9 {
    margin-top: 10rem !important;
  }
  .mr-xs-9 {
    margin-left: 10rem !important;
  }
  .mb-xs-9 {
    margin-bottom: 10rem !important;
  }
  .ml-xs-9 {
    margin-right: 10rem !important;
  }
  .mx-xs-9 {
    margin-right: 10rem !important;
    margin-left: 10rem !important;
  }
  .my-xs-9 {
    margin-top: 10rem !important;
    margin-bottom: 10rem !important;
  }
  .m-xs-10 {
    margin: 12.5rem !important;
  }
  .mt-xs-10 {
    margin-top: 12.5rem !important;
  }
  .mr-xs-10 {
    margin-left: 12.5rem !important;
  }
  .mb-xs-10 {
    margin-bottom: 12.5rem !important;
  }
  .ml-xs-10 {
    margin-right: 12.5rem !important;
  }
  .mx-xs-10 {
    margin-right: 12.5rem !important;
    margin-left: 12.5rem !important;
  }
  .my-xs-10 {
    margin-top: 12.5rem !important;
    margin-bottom: 12.5rem !important;
  }
  .m-xs-11 {
    margin: 15rem !important;
  }
  .mt-xs-11 {
    margin-top: 15rem !important;
  }
  .mr-xs-11 {
    margin-left: 15rem !important;
  }
  .mb-xs-11 {
    margin-bottom: 15rem !important;
  }
  .ml-xs-11 {
    margin-right: 15rem !important;
  }
  .mx-xs-11 {
    margin-right: 15rem !important;
    margin-left: 15rem !important;
  }
  .my-xs-11 {
    margin-top: 15rem !important;
    margin-bottom: 15rem !important;
  }
}

@media (min-width: 36em) {
  .m-sm-0 {
    margin: 0 !important;
  }
  .mt-sm-0 {
    margin-top: 0 !important;
  }
  .mr-sm-0 {
    margin-left: 0 !important;
  }
  .mb-sm-0 {
    margin-bottom: 0 !important;
  }
  .ml-sm-0 {
    margin-right: 0 !important;
  }
  .mx-sm-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .my-sm-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .m-sm-1 {
    margin: 0.25rem !important;
  }
  .mt-sm-1 {
    margin-top: 0.25rem !important;
  }
  .mr-sm-1 {
    margin-left: 0.25rem !important;
  }
  .mb-sm-1 {
    margin-bottom: 0.25rem !important;
  }
  .ml-sm-1 {
    margin-right: 0.25rem !important;
  }
  .mx-sm-1 {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
  }
  .my-sm-1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
  }
  .m-sm-2 {
    margin: 0.5rem !important;
  }
  .mt-sm-2 {
    margin-top: 0.5rem !important;
  }
  .mr-sm-2 {
    margin-left: 0.5rem !important;
  }
  .mb-sm-2 {
    margin-bottom: 0.5rem !important;
  }
  .ml-sm-2 {
    margin-right: 0.5rem !important;
  }
  .mx-sm-2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
  }
  .my-sm-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }
  .m-sm-3 {
    margin: 1rem !important;
  }
  .mt-sm-3 {
    margin-top: 1rem !important;
  }
  .mr-sm-3 {
    margin-left: 1rem !important;
  }
  .mb-sm-3 {
    margin-bottom: 1rem !important;
  }
  .ml-sm-3 {
    margin-right: 1rem !important;
  }
  .mx-sm-3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
  }
  .my-sm-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
  .m-sm-4 {
    margin: 1.8rem !important;
  }
  .mt-sm-4 {
    margin-top: 1.8rem !important;
  }
  .mr-sm-4 {
    margin-left: 1.8rem !important;
  }
  .mb-sm-4 {
    margin-bottom: 1.8rem !important;
  }
  .ml-sm-4 {
    margin-right: 1.8rem !important;
  }
  .mx-sm-4 {
    margin-right: 1.8rem !important;
    margin-left: 1.8rem !important;
  }
  .my-sm-4 {
    margin-top: 1.8rem !important;
    margin-bottom: 1.8rem !important;
  }
  .m-sm-5 {
    margin: 3rem !important;
  }
  .mt-sm-5 {
    margin-top: 3rem !important;
  }
  .mr-sm-5 {
    margin-left: 3rem !important;
  }
  .mb-sm-5 {
    margin-bottom: 3rem !important;
  }
  .ml-sm-5 {
    margin-right: 3rem !important;
  }
  .mx-sm-5 {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
  }
  .my-sm-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }
  .m-sm-6 {
    margin: 4rem !important;
  }
  .mt-sm-6 {
    margin-top: 4rem !important;
  }
  .mr-sm-6 {
    margin-left: 4rem !important;
  }
  .mb-sm-6 {
    margin-bottom: 4rem !important;
  }
  .ml-sm-6 {
    margin-right: 4rem !important;
  }
  .mx-sm-6 {
    margin-right: 4rem !important;
    margin-left: 4rem !important;
  }
  .my-sm-6 {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
  }
  .m-sm-7 {
    margin: 5rem !important;
  }
  .mt-sm-7 {
    margin-top: 5rem !important;
  }
  .mr-sm-7 {
    margin-left: 5rem !important;
  }
  .mb-sm-7 {
    margin-bottom: 5rem !important;
  }
  .ml-sm-7 {
    margin-right: 5rem !important;
  }
  .mx-sm-7 {
    margin-right: 5rem !important;
    margin-left: 5rem !important;
  }
  .my-sm-7 {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
  }
  .m-sm-8 {
    margin: 7.5rem !important;
  }
  .mt-sm-8 {
    margin-top: 7.5rem !important;
  }
  .mr-sm-8 {
    margin-left: 7.5rem !important;
  }
  .mb-sm-8 {
    margin-bottom: 7.5rem !important;
  }
  .ml-sm-8 {
    margin-right: 7.5rem !important;
  }
  .mx-sm-8 {
    margin-right: 7.5rem !important;
    margin-left: 7.5rem !important;
  }
  .my-sm-8 {
    margin-top: 7.5rem !important;
    margin-bottom: 7.5rem !important;
  }
  .m-sm-9 {
    margin: 10rem !important;
  }
  .mt-sm-9 {
    margin-top: 10rem !important;
  }
  .mr-sm-9 {
    margin-left: 10rem !important;
  }
  .mb-sm-9 {
    margin-bottom: 10rem !important;
  }
  .ml-sm-9 {
    margin-right: 10rem !important;
  }
  .mx-sm-9 {
    margin-right: 10rem !important;
    margin-left: 10rem !important;
  }
  .my-sm-9 {
    margin-top: 10rem !important;
    margin-bottom: 10rem !important;
  }
  .m-sm-10 {
    margin: 12.5rem !important;
  }
  .mt-sm-10 {
    margin-top: 12.5rem !important;
  }
  .mr-sm-10 {
    margin-left: 12.5rem !important;
  }
  .mb-sm-10 {
    margin-bottom: 12.5rem !important;
  }
  .ml-sm-10 {
    margin-right: 12.5rem !important;
  }
  .mx-sm-10 {
    margin-right: 12.5rem !important;
    margin-left: 12.5rem !important;
  }
  .my-sm-10 {
    margin-top: 12.5rem !important;
    margin-bottom: 12.5rem !important;
  }
  .m-sm-11 {
    margin: 15rem !important;
  }
  .mt-sm-11 {
    margin-top: 15rem !important;
  }
  .mr-sm-11 {
    margin-left: 15rem !important;
  }
  .mb-sm-11 {
    margin-bottom: 15rem !important;
  }
  .ml-sm-11 {
    margin-right: 15rem !important;
  }
  .mx-sm-11 {
    margin-right: 15rem !important;
    margin-left: 15rem !important;
  }
  .my-sm-11 {
    margin-top: 15rem !important;
    margin-bottom: 15rem !important;
  }
}


@media (min-width: 48em) {
  .m-md-0 {
    margin: 0 !important;
  }
  .mt-md-0 {
    margin-top: 0 !important;
  }
  .mr-md-0 {
    margin-left: 0 !important;
  }
  .mb-md-0 {
    margin-bottom: 0 !important;
  }
  .ml-md-0 {
    margin-right: 0 !important;
  }
  .mx-md-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .my-md-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .m-md-1 {
    margin: 0.25rem !important;
  }
  .mt-md-1 {
    margin-top: 0.25rem !important;
  }
  .mr-md-1 {
    margin-left: 0.25rem !important;
  }
  .mb-md-1 {
    margin-bottom: 0.25rem !important;
  }
  .ml-md-1 {
    margin-right: 0.25rem !important;
  }
  .mx-md-1 {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
  }
  .my-md-1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
  }
  .m-md-2 {
    margin: 0.5rem !important;
  }
  .mt-md-2 {
    margin-top: 0.5rem !important;
  }
  .mr-md-2 {
    margin-left: 0.5rem !important;
  }
  .mb-md-2 {
    margin-bottom: 0.5rem !important;
  }
  .ml-md-2 {
    margin-right: 0.5rem !important;
  }
  .mx-md-2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
  }
  .my-md-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }
  .m-md-3 {
    margin: 1rem !important;
  }
  .mt-md-3 {
    margin-top: 1rem !important;
  }
  .mr-md-3 {
    margin-left: 1rem !important;
  }
  .mb-md-3 {
    margin-bottom: 1rem !important;
  }
  .ml-md-3 {
    margin-right: 1rem !important;
  }
  .mx-md-3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
  }
  .my-md-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
  .m-md-4 {
    margin: 1.8rem !important;
  }
  .mt-md-4 {
    margin-top: 1.8rem !important;
  }
  .mr-md-4 {
    margin-left: 1.8rem !important;
  }
  .mb-md-4 {
    margin-bottom: 1.8rem !important;
  }
  .ml-md-4 {
    margin-right: 1.8rem !important;
  }
  .mx-md-4 {
    margin-right: 1.8rem !important;
    margin-left: 1.8rem !important;
  }
  .my-md-4 {
    margin-top: 1.8rem !important;
    margin-bottom: 1.8rem !important;
  }
  .m-md-5 {
    margin: 3rem !important;
  }
  .mt-md-5 {
    margin-top: 3rem !important;
  }
  .mr-md-5 {
    margin-left: 3rem !important;
  }
  .mb-md-5 {
    margin-bottom: 3rem !important;
  }
  .ml-md-5 {
    margin-right: 3rem !important;
  }
  .mx-md-5 {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
  }
  .my-md-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }
  .m-md-6 {
    margin: 4rem !important;
  }
  .mt-md-6 {
    margin-top: 4rem !important;
  }
  .mr-md-6 {
    margin-left: 4rem !important;
  }
  .mb-md-6 {
    margin-bottom: 4rem !important;
  }
  .ml-md-6 {
    margin-right: 4rem !important;
  }
  .mx-md-6 {
    margin-right: 4rem !important;
    margin-left: 4rem !important;
  }
  .my-md-6 {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
  }
  .m-md-7 {
    margin: 5rem !important;
  }
  .mt-md-7 {
    margin-top: 5rem !important;
  }
  .mr-md-7 {
    margin-left: 5rem !important;
  }
  .mb-md-7 {
    margin-bottom: 5rem !important;
  }
  .ml-md-7 {
    margin-right: 5rem !important;
  }
  .mx-md-7 {
    margin-right: 5rem !important;
    margin-left: 5rem !important;
  }
  .my-md-7 {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
  }
  .m-md-8 {
    margin: 7.5rem !important;
  }
  .mt-md-8 {
    margin-top: 7.5rem !important;
  }
  .mr-md-8 {
    margin-left: 7.5rem !important;
  }
  .mb-md-8 {
    margin-bottom: 7.5rem !important;
  }
  .ml-md-8 {
    margin-right: 7.5rem !important;
  }
  .mx-md-8 {
    margin-right: 7.5rem !important;
    margin-left: 7.5rem !important;
  }
  .my-md-8 {
    margin-top: 7.5rem !important;
    margin-bottom: 7.5rem !important;
  }
  .m-md-9 {
    margin: 10rem !important;
  }
  .mt-md-9 {
    margin-top: 10rem !important;
  }
  .mr-md-9 {
    margin-left: 10rem !important;
  }
  .mb-md-9 {
    margin-bottom: 10rem !important;
  }
  .ml-md-9 {
    margin-right: 10rem !important;
  }
  .mx-md-9 {
    margin-right: 10rem !important;
    margin-left: 10rem !important;
  }
  .my-md-9 {
    margin-top: 10rem !important;
    margin-bottom: 10rem !important;
  }
  .m-md-10 {
    margin: 12.5rem !important;
  }
  .mt-md-10 {
    margin-top: 12.5rem !important;
  }
  .mr-md-10 {
    margin-left: 12.5rem !important;
  }
  .mb-md-10 {
    margin-bottom: 12.5rem !important;
  }
  .ml-md-10 {
    margin-right: 12.5rem !important;
  }
  .mx-md-10 {
    margin-right: 12.5rem !important;
    margin-left: 12.5rem !important;
  }
  .my-md-10 {
    margin-top: 12.5rem !important;
    margin-bottom: 12.5rem !important;
  }
  .m-md-11 {
    margin: 15rem !important;
  }
  .mt-md-11 {
    margin-top: 15rem !important;
  }
  .mr-md-11 {
    margin-left: 15rem !important;
  }
  .mb-md-11 {
    margin-bottom: 15rem !important;
  }
  .ml-md-11 {
    margin-right: 15rem !important;
  }
  .mx-md-11 {
    margin-right: 15rem !important;
    margin-left: 15rem !important;
  }
  .my-md-11 {
    margin-top: 15rem !important;
    margin-bottom: 15rem !important;
  }
}

@media (min-width: 62em) {
  .m-lg-0 {
    margin: 0 !important;
  }
  .mt-lg-0 {
    margin-top: 0 !important;
  }
  .mr-lg-0 {
    margin-left: 0 !important;
  }
  .mb-lg-0 {
    margin-bottom: 0 !important;
  }
  .ml-lg-0 {
    margin-right: 0 !important;
  }
  .mx-lg-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .my-lg-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .m-lg-1 {
    margin: 0.25rem !important;
  }
  .mt-lg-1 {
    margin-top: 0.25rem !important;
  }
  .mr-lg-1 {
    margin-left: 0.25rem !important;
  }
  .mb-lg-1 {
    margin-bottom: 0.25rem !important;
  }
  .ml-lg-1 {
    margin-right: 0.25rem !important;
  }
  .mx-lg-1 {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
  }
  .my-lg-1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
  }
  .m-lg-2 {
    margin: 0.5rem !important;
  }
  .mt-lg-2 {
    margin-top: 0.5rem !important;
  }
  .mr-lg-2 {
    margin-left: 0.5rem !important;
  }
  .mb-lg-2 {
    margin-bottom: 0.5rem !important;
  }
  .ml-lg-2 {
    margin-right: 0.5rem !important;
  }
  .mx-lg-2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
  }
  .my-lg-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }
  .m-lg-3 {
    margin: 1rem !important;
  }
  .mt-lg-3 {
    margin-top: 1rem !important;
  }
  .mr-lg-3 {
    margin-left: 1rem !important;
  }
  .mb-lg-3 {
    margin-bottom: 1rem !important;
  }
  .ml-lg-3 {
    margin-right: 1rem !important;
  }
  .mx-lg-3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
  }
  .my-lg-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
  .m-lg-4 {
    margin: 1.8rem !important;
  }
  .mt-lg-4 {
    margin-top: 1.8rem !important;
  }
  .mr-lg-4 {
    margin-left: 1.8rem !important;
  }
  .mb-lg-4 {
    margin-bottom: 1.8rem !important;
  }
  .ml-lg-4 {
    margin-right: 1.8rem !important;
  }
  .mx-lg-4 {
    margin-right: 1.8rem !important;
    margin-left: 1.8rem !important;
  }
  .my-lg-4 {
    margin-top: 1.8rem !important;
    margin-bottom: 1.8rem !important;
  }
  .m-lg-5 {
    margin: 3rem !important;
  }
  .mt-lg-5 {
    margin-top: 3rem !important;
  }
  .mr-lg-5 {
    margin-left: 3rem !important;
  }
  .mb-lg-5 {
    margin-bottom: 3rem !important;
  }
  .ml-lg-5 {
    margin-right: 3rem !important;
  }
  .mx-lg-5 {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
  }
  .my-lg-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }
  .m-lg-6 {
    margin: 4rem !important;
  }
  .mt-lg-6 {
    margin-top: 4rem !important;
  }
  .mr-lg-6 {
    margin-left: 4rem !important;
  }
  .mb-lg-6 {
    margin-bottom: 4rem !important;
  }
  .ml-lg-6 {
    margin-right: 4rem !important;
  }
  .mx-lg-6 {
    margin-right: 4rem !important;
    margin-left: 4rem !important;
  }
  .my-lg-6 {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
  }
  .m-lg-7 {
    margin: 5rem !important;
  }
  .mt-lg-7 {
    margin-top: 5rem !important;
  }
  .mr-lg-7 {
    margin-left: 5rem !important;
  }
  .mb-lg-7 {
    margin-bottom: 5rem !important;
  }
  .ml-lg-7 {
    margin-right: 5rem !important;
  }
  .mx-lg-7 {
    margin-right: 5rem !important;
    margin-left: 5rem !important;
  }
  .my-lg-7 {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
  }
  .m-lg-8 {
    margin: 7.5rem !important;
  }
  .mt-lg-8 {
    margin-top: 7.5rem !important;
  }
  .mr-lg-8 {
    margin-left: 7.5rem !important;
  }
  .mb-lg-8 {
    margin-bottom: 7.5rem !important;
  }
  .ml-lg-8 {
    margin-right: 7.5rem !important;
  }
  .mx-lg-8 {
    margin-right: 7.5rem !important;
    margin-left: 7.5rem !important;
  }
  .my-lg-8 {
    margin-top: 7.5rem !important;
    margin-bottom: 7.5rem !important;
  }
  .m-lg-9 {
    margin: 10rem !important;
  }
  .mt-lg-9 {
    margin-top: 10rem !important;
  }
  .mr-lg-9 {
    margin-left: 10rem !important;
  }
  .mb-lg-9 {
    margin-bottom: 10rem !important;
  }
  .ml-lg-9 {
    margin-right: 10rem !important;
  }
  .mx-lg-9 {
    margin-right: 10rem !important;
    margin-left: 10rem !important;
  }
  .my-lg-9 {
    margin-top: 10rem !important;
    margin-bottom: 10rem !important;
  }
  .m-lg-10 {
    margin: 12.5rem !important;
  }
  .mt-lg-10 {
    margin-top: 12.5rem !important;
  }
  .mr-lg-10 {
    margin-left: 12.5rem !important;
  }
  .mb-lg-10 {
    margin-bottom: 12.5rem !important;
  }
  .ml-lg-10 {
    margin-right: 12.5rem !important;
  }
  .mx-lg-10 {
    margin-right: 12.5rem !important;
    margin-left: 12.5rem !important;
  }
  .my-lg-10 {
    margin-top: 12.5rem !important;
    margin-bottom: 12.5rem !important;
  }
  .m-lg-11 {
    margin: 15rem !important;
  }
  .mt-lg-11 {
    margin-top: 15rem !important;
  }
  .mr-lg-11 {
    margin-left: 15rem !important;
  }
  .mb-lg-11 {
    margin-bottom: 15rem !important;
  }
  .ml-lg-11 {
    margin-right: 15rem !important;
  }
  .mx-lg-11 {
    margin-right: 15rem !important;
    margin-left: 15rem !important;
  }
  .my-lg-11 {
    margin-top: 15rem !important;
    margin-bottom: 15rem !important;
  }
}

@media (min-width: 75em) {
  .m-xl-0 {
    margin: 0 !important;
  }
  .mt-xl-0 {
    margin-top: 0 !important;
  }
  .mr-xl-0 {
    margin-left: 0 !important;
  }
  .mb-xl-0 {
    margin-bottom: 0 !important;
  }
  .ml-xl-0 {
    margin-right: 0 !important;
  }
  .mx-xl-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .my-xl-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .m-xl-1 {
    margin: 0.25rem !important;
  }
  .mt-xl-1 {
    margin-top: 0.25rem !important;
  }
  .mr-xl-1 {
    margin-left: 0.25rem !important;
  }
  .mb-xl-1 {
    margin-bottom: 0.25rem !important;
  }
  .ml-xl-1 {
    margin-right: 0.25rem !important;
  }
  .mx-xl-1 {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
  }
  .my-xl-1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
  }
  .m-xl-2 {
    margin: 0.5rem !important;
  }
  .mt-xl-2 {
    margin-top: 0.5rem !important;
  }
  .mr-xl-2 {
    margin-left: 0.5rem !important;
  }
  .mb-xl-2 {
    margin-bottom: 0.5rem !important;
  }
  .ml-xl-2 {
    margin-right: 0.5rem !important;
  }
  .mx-xl-2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
  }
  .my-xl-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }
  .m-xl-3 {
    margin: 1rem !important;
  }
  .mt-xl-3 {
    margin-top: 1rem !important;
  }
  .mr-xl-3 {
    margin-left: 1rem !important;
  }
  .mb-xl-3 {
    margin-bottom: 1rem !important;
  }
  .ml-xl-3 {
    margin-right: 1rem !important;
  }
  .mx-xl-3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
  }
  .my-xl-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
  .m-xl-4 {
    margin: 1.8rem !important;
  }
  .mt-xl-4 {
    margin-top: 1.8rem !important;
  }
  .mr-xl-4 {
    margin-left: 1.8rem !important;
  }
  .mb-xl-4 {
    margin-bottom: 1.8rem !important;
  }
  .ml-xl-4 {
    margin-right: 1.8rem !important;
  }
  .mx-xl-4 {
    margin-right: 1.8rem !important;
    margin-left: 1.8rem !important;
  }
  .my-xl-4 {
    margin-top: 1.8rem !important;
    margin-bottom: 1.8rem !important;
  }
  .m-xl-5 {
    margin: 3rem !important;
  }
  .mt-xl-5 {
    margin-top: 3rem !important;
  }
  .mr-xl-5 {
    margin-left: 3rem !important;
  }
  .mb-xl-5 {
    margin-bottom: 3rem !important;
  }
  .ml-xl-5 {
    margin-right: 3rem !important;
  }
  .mx-xl-5 {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
  }
  .my-xl-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }
  .m-xl-6 {
    margin: 4rem !important;
  }
  .mt-xl-6 {
    margin-top: 4rem !important;
  }
  .mr-xl-6 {
    margin-left: 4rem !important;
  }
  .mb-xl-6 {
    margin-bottom: 4rem !important;
  }
  .ml-xl-6 {
    margin-right: 4rem !important;
  }
  .mx-xl-6 {
    margin-right: 4rem !important;
    margin-left: 4rem !important;
  }
  .my-xl-6 {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
  }
  .m-xl-7 {
    margin: 5rem !important;
  }
  .mt-xl-7 {
    margin-top: 5rem !important;
  }
  .mr-xl-7 {
    margin-left: 5rem !important;
  }
  .mb-xl-7 {
    margin-bottom: 5rem !important;
  }
  .ml-xl-7 {
    margin-right: 5rem !important;
  }
  .mx-xl-7 {
    margin-right: 5rem !important;
    margin-left: 5rem !important;
  }
  .my-xl-7 {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
  }
  .m-xl-8 {
    margin: 7.5rem !important;
  }
  .mt-xl-8 {
    margin-top: 7.5rem !important;
  }
  .mr-xl-8 {
    margin-left: 7.5rem !important;
  }
  .mb-xl-8 {
    margin-bottom: 7.5rem !important;
  }
  .ml-xl-8 {
    margin-right: 7.5rem !important;
  }
  .mx-xl-8 {
    margin-right: 7.5rem !important;
    margin-left: 7.5rem !important;
  }
  .my-xl-8 {
    margin-top: 7.5rem !important;
    margin-bottom: 7.5rem !important;
  }
  .m-xl-9 {
    margin: 10rem !important;
  }
  .mt-xl-9 {
    margin-top: 10rem !important;
  }
  .mr-xl-9 {
    margin-left: 10rem !important;
  }
  .mb-xl-9 {
    margin-bottom: 10rem !important;
  }
  .ml-xl-9 {
    margin-right: 10rem !important;
  }
  .mx-xl-9 {
    margin-right: 10rem !important;
    margin-left: 10rem !important;
  }
  .my-xl-9 {
    margin-top: 10rem !important;
    margin-bottom: 10rem !important;
  }
  .m-xl-10 {
    margin: 12.5rem !important;
  }
  .mt-xl-10 {
    margin-top: 12.5rem !important;
  }
  .mr-xl-10 {
    margin-left: 12.5rem !important;
  }
  .mb-xl-10 {
    margin-bottom: 12.5rem !important;
  }
  .ml-xl-10 {
    margin-right: 12.5rem !important;
  }
  .mx-xl-10 {
    margin-right: 12.5rem !important;
    margin-left: 12.5rem !important;
  }
  .my-xl-10 {
    margin-top: 12.5rem !important;
    margin-bottom: 12.5rem !important;
  }
  .m-xl-11 {
    margin: 15rem !important;
  }
  .mt-xl-11 {
    margin-top: 15rem !important;
  }
  .mr-xl-11 {
    margin-left: 15rem !important;
  }
  .mb-xl-11 {
    margin-bottom: 15rem !important;
  }
  .ml-xl-11 {
    margin-right: 15rem !important;
  }
  .mx-xl-11 {
    margin-right: 15rem !important;
    margin-left: 15rem !important;
  }
  .my-xl-11 {
    margin-top: 15rem !important;
    margin-bottom: 15rem !important;
  }
}

.p-5 {
    padding: 5em !important;
}